gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks


# Xcode local settings
**/IDEWorkspaceChecks.plist
**/WorkspaceSettings.xcsettings

# Android build reports
android/build/
**/build/reports/